[project]
name = "fastapi-sqlalchemy"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13,<4"
dependencies = [
    "fastapi-slim (>=0.124.2)",
    "uvicorn[standard] (>=0.38.0)",
    "passlib>=1.7.4",
    "itsdangerous>=2.2.0",
    "python-multipart>=0.0.20",
    "python-jose[cryptography]>=3.5.0",
    "pydantic (>=2.12.5)",
    "pydantic-settings (>=2.12.0)",
    "sqladmin (>=0.22.0)",
    "tzdata>=2025.2 ; sys_platform == 'win32'",
    "loguru>=0.7.3",
    "alembic (>=1.17.2)",
    "sqlalchemy[asyncio] (>=2.0.45)",
    "asyncpg (>=0.31.0)",
    "psycopg[binary] (>=3.3.2)",
]

[tool.poetry]
package-mode = false

[tool.pytest.ini_options]
addopts = "-s"
asyncio_mode = "auto"
pythonpath = "fastapi_sqlalchemy"
#testpaths = ["tests"]

[dependency-groups]
test = [
    "pytest (>=9.0.2,<10.0.0)",
    "pytest-asyncio (>=1.3.0,<2.0.0)",
    "httpx (>=0.28.1,<0.29.0)"
]
